.resume{
    background-image: linear-gradient(red, yellow);
    width:800px;
    border-radius: 30px;
    /* display: flex; */
}

.top-bar{
    display: flex;
}

.top{
    height: 340px;
    /* border: 3px solid blue; */
    /* background-color: blue; */
}

.top img{
    width: 150px;
    padding: 4px;
}

#name{
    font-size: xx-large;
}

.top-left{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.top-right{
    width: 45%;
    display: flex;
    /* border: 1px solid black; */
}

.top-right ul{
    list-style:none;
    padding-top: 10px;
    font-size: larger;
}

.top > p {
    text-align: left;
    font-size: 17px;
    margin-right: 20px;
    margin-left: 20px;
    /* padding: 20px; */
}

.intro{
    text-align: center;
}

li > span{
    font-weight: bolder;
}

#links{
    padding-top: 5px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

#links img{
    width:50px;   
}

hr{
    margin-right: 20px;
    margin-left: 20px;
}

.bottom{
    height: 1200px;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 65%;
}

.entry{
    background-color: white;
    /* background-position-x: ; */
    /* background-clip: padding-box; */
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    opacity: .8;
}

#emp{
    padding-left: 20px;
}

.job {
    display: flex;
    justify-content: space-between;
    /* padding-left:20px;
    padding-right: 20px; */
}

.job > p{
    margin: 0;
}

.loc{
    font-size: large;
    font-weight: 600;
}
.time{
    font-size: large;
    color: red;
}

.job + p{
    /* padding-left:20px;
    padding-right: 20px; */
    /* color:blue; */
    margin: 1px;
    padding-bottom: 10px;
}

p + p{
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 0;
}


.right{
    width: 35%;
    border: 3px solid red;
}

.right h2{
    text-align: center;
}